<div style="display: flex; justify-content: space-between;">
  <div>
    <button (click)="goBack()" class="btn btn-primary">back</button>
  </div>
  <div *ngIf = "isEditable()">
    <button (click)="onEdit()" class="btn btn-secondary" >Edit</button>
  <button (click)="onDelete()" class="btn btn-danger" style="margin-left: 20px;">Delete</button>
  </div>
</div>

<div class="card col-12">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <h4>cat</h4>
        <h5>Kathmandu, Nepal</h5>
      </div>
      <div>
        <img class="pet-detail-img" src="https://localhost:44316/{{petImg}}" alt="whatever" />
      </div>
      <div>
        <ul>
          <div *ngFor = "let img of images" ></div>
          <button *ngFor = "let img of images" class="img-btn" (click)="changeImage($event)">
            <img src="https://localhost:44316/{{img}}" id="{{img}}" class="img-btn-img" alt="tf">
          </button>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div>Price: {{pet.price | currency}}</div>
      <div>contact Now</div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div>date posted: {{pet.addedOn | date:'mediumDate'}}</div>
            <div>breed: {{pet.breed}}</div>
            <div>age: {{pet.age}}</div>
            <div>color:</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div>size:</div>
            <div>weight:</div>
            <div>sex:</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-12">
    <div class="card-head"><h3>Description</h3></div>
    <div class="card-body">
      {{pet|json}}
    </div>
  </div>
</div>

<!-- https://www.youtube.com/watch?v=dyzyfp77o8M&list=PL_NVFNExoAxclqXo9fLAeP0G2Qp56Fu8C&index=29 -->
