<button (click)="goBack()" class="btn btn-primary">back</button>
<div class="card col-12">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <h4>cat</h4>
        <h5>Kathmandu, Nepal</h5>
      </div>
      <div>
        <img class="pet-detail-img" src="{{petImg}}" alt="whatever" />
      </div>
      <div>
        <ul>
          <div *ngFor = "let img of images" ></div>
          <button *ngFor = "let img of images" class="img-btn" (click)="changeImage($event)">
            <img src="assets/images/{{img}}" id="{{img}}" class="img-btn-img" alt="tf">
          </button>
          <!-- <button class="col-2" id="img1" (click)="changeImage($event)"> <img class="img-btn" src="{{images[0]}}" alt="img"> </button>
          <button class="col-2" id="img2" (click)="changeImage($event)"> <img class="img-btn" src="{{images[1]}}" alt="img">  </button>
          <button class="col-2" id="img3" (click)="changeImage($event)"> <img class="img-btn" src="{{images[2]}}" alt="img">  </button>
          <button class="col-2" id="img4" (click)="changeImage($event)"> <img class="img-btn" src="{{images[3]}}" alt="img">  </button> -->
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div>Price: {{pet.price | currency}}</div>
      <div>contact Now</div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div>date posted: {{pet.addedOn | date:'mediumDate'}}</div>
            <div>breed: {{pet.breed}}</div>
            <div>age: {{pet.age}}</div>
            <div>color:</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div>size:</div>
            <div>weight:</div>
            <div>sex:</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-12">
    <div class="card-head"><h3>Description</h3></div>
    <div class="card-body">
      {{pet|json}}
    </div>
  </div>
</div>

<!-- https://www.youtube.com/watch?v=dyzyfp77o8M&list=PL_NVFNExoAxclqXo9fLAeP0G2Qp56Fu8C&index=29 -->
