.pet-detail-img{
  height: 300px;
}

.img-btn{
  color:white;
  border: none;
  padding: 0px;
  margin: 10px;
  width: 60px;
  height: 60px;
}

.img-btn-img{
  width: 60px;
  height: 60px;
}
.ngx-gallery { display: inline-block; margin-bottom: 20px; }
