 <div class="card">
   <button class="card-btn" routerLink='/pet-detail/{{petName.petId}}'>
    <div>
      <span>{{petName.type}}</span>
      <span>-</span>
      <span>{{petName.city}}</span>
      <span>,</span>
      <span>{{petName.country}}</span>
    </div>
    <div class="image-wrapper">
      <img *ngIf="petName.image" class="card-img-top card-img" src="https://localhost:44316/{{petName.image}}" alt="pets">
      <img *ngIf="!petName.image" class="card-img-top card-img" src="assets/images/default.jpg" alt="pets">
    </div>
    <div class="card-body p-2">
    <div *ngIf="petName.adopt">
      <span>for adoption</span>
      <span>{{petName.price|currency}}</span>
    </div>
    <div *ngIf="!petName.adopt">
      <span>for sale</span>
      <span>{{petName.price|currency}}</span>
    </div>
    <h5>{{petName.breed}}</h5>
    <h5>{{petName.sex}}</h5>
    <h5>{{petName.age}}</h5>
    <!-- <p>
      {{petName|json}}
    </p> -->
  </div>
</button>
</div>



